.navbar {
  width: 90vw;

  grid-column: center-start / center-end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  // z-index: 10;

  & img {
    pointer-events: none;
  }
}

.Setting-menu {
  // position: absolute !important;
}
