#left {
  top: 50%;
  left: -10rem;
  // height: 100%;
  cursor: pointer;
  transform: translate(50%, -50%);
  //   display: none;
  position: absolute;
  z-index: 2;
  width: 7.5rem;
  height: 7.5rem;
}

#right {
  width: 7.5rem;
  height: 7.5rem;
  top: 50%;
  right: -10rem;
  // height: 100%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2;
}
